@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}


/*MENU */

#menu a {

    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

/* SLIDER */

.carousel-inner {
   max-height: 39rem !important;

}

/*NUESTRO EQUIPO */

#img-equipo {
    max-height: 30rem !important;
    width: 50%;
}

#numeros-local {
    margin: 0 !important;
    padding: 0 !important;
}

#numeros-local div {
    padding: 0 20px 0 0;
    text-align: left;
    height: 48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child) {
    padding-left: 20px;
}

#numeros-local p {
    margin: 0;
}

/*CONTACTOS BACKGROUND*/

#bg-contactos {
    position: relative;
    top: -130px;
}

#seccion-contacto {
    background-color: #1b2a4e;
    min-height: 500px;
   
}

/*CONTACTOS FORMULARIO*/
#contenedor-formulario {
    
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;

}

#titulo-formulario {
    color: #3f3f3f;
}



